﻿*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.testimonials-clean {
    color: #313437;
    background-color: #eef4f7;
}

    .testimonials-clean p {
        color: #7d8285;
    }

    .testimonials-clean h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
    }

@media (max-width:767px) {
    .testimonials-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

    .testimonials-clean .intro p {
        margin-bottom: 0;
    }

.testimonials-clean .people {
    padding: 50px 0 20px;
}

.testimonials-clean .item {
    margin-bottom: 32px;
}

@media (min-width:768px) {
    .testimonials-clean .item {
        height: 220px;
    }
}

.testimonials-clean .item .box {
    padding: 30px;
    background-color: #fff;
    position: relative;
}

    .testimonials-clean .item .box:after {
        content: '';
        position: absolute;
        left: 30px;
        bottom: -24px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-width: 12px 15px;
        border-top-color: #fff;
    }

.testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
}

.testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
}

.testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
}

.testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.people-back {
    height: inherit;
    min-height: initial;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(30,41,99,0.53);
}

.people-div {
    background-image: url('/Images/Home/back-people.png');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-header {
    color: rgb(242,245,248);
    font-size: 56px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.text-main {
    color: rgb(242,245,248);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: normal;
}