﻿
@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Admin.cshtml";
    }
    ViewBag.Title = "ServerError";
}
@section Styles {
    <link href="@Url.Content("~/Content/Error/error_500.css")" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script src="@Url.Content("~/Scripts/error_500.js")" type="text/javascript"></script>
}

<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
    <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
    </spaguetti>
</div>
