﻿@using Simple_Social_Media.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}
@section Styles {
    <link href="@Url.Content("~/Content/Login/login.css")" rel="stylesheet" type="text/css" />
}

<section class="login-clean text-center">
    <h2>@ViewBag.Title.</h2>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                <h4 class="sr-only">Используйте учетную запись для входа</h4>
                    <hr />
                    <div class="illustration"><img class="icon ion-ios-navigate text-center" alt="logo" src="~/Images/logo.png" /></div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                    </div>
                    <div class="form-group">
                            <input type="submit" value="Выполнить вход" class="btn btn-primary btn-block text-center" />
                    </div>
                    <p>
                        @Html.ActionLink("Регистрация нового пользователя", "Register","Account",null,new {@class= "forgot" })
                    </p>
                    @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
            <p>
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
            </p>*@
                }
            </section>
   
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}