﻿@model Simple_Social_Media.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
@section Styles {
    <link href="@Url.Content("~/Content/Register/register.css")" rel="stylesheet" type="text/css" />
}

<section class="register-photo">
    <h2 class="text-center">@ViewBag.Title.</h2>
    <div class="form-container">
        <div class="image-holder"></div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-center">Создание новой учетной записи</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "form-check-label" })

                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Имя", type = "text", minlength = "3", required = "required" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "form-check-label" })

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Электронная почта", type = "email", minlength = "3", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-check-label" })

                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Номер телефона", type = "tel", minlength = "10", required = "required" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Birthday, new { @class = "form-check-label" })

                @Html.TextBoxFor(m => m.Birthday, new
                {
               @class = "form-control",
               type = "date",
               required = "required",
               min = DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd"),
               max = DateTime.Now.AddYears(-10).ToString("yyyy-MM-dd")
           })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "form-check-label" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", required = "required" })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-check-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повторите пароль", required = "required" })
            </div>
            <div class="form-group align-content-center">
                <button class="btn btn-primary btn-block text-center" type="submit">Регистрация</button>
            </div>@Html.ActionLink("Уже есть аккаунт? Войдите тут.", "Login", "Account", null, new { @class = "already" })
        }
    </div>
</section>

