﻿@using Simple_Social_Media.Models;
@model Simple_Social_Media.Models.FriendSearchViewModel


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Поиск пользователей </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Ajax.BeginForm("FindAccounts", "Friends", new AjaxOptions { UpdateTargetId = "results",LoadingElementId="loading" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", placeholder = "Имя пользователя" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Email, new { @class = "form-control", placeholder = "Почта", type = "text" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Phone, new { @class = "form-control", placeholder = "Телефон", type = "tel" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Искать</button>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>

