﻿@model Simple_Social_Media.Models.FriendsViewModel
@using Simple_Social_Media.Models;
@using Simple_Social_Media.BLL.DTO
@using System

@{
    ViewBag.Title = "GetFriends";
}

@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")



<div id="showmodalFriendsSearch" class="" tabindex="-1">
    <div class="">
        <div class="">
            <div class="">
            </div>
            @{ Html.RenderPartial("FriendsSearchPartial", new FriendSearchViewModel { SearchedUsers = new List<UserDTO>() });
            }
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary mt-1" data-toggle="modal" data-target="#basicModal">
        Добавить друзей
    </a>
</div>

<img id="loading" src="~/Images/loading.gif" style="display:none;" alt="loading" role="progressbar"/>
<div id="results">
</div>

<div class="container" id="Contacts">
    <h4 class="mt-2">Мои контакты</h4>
    @if (Model.Contacts.Count() != 0)
    {
        <div class="container">
            @foreach (var contact in Model.Contacts)
            {
                <div class="row">

                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-around">
                            <img alt="picture" src="/Images/user.png" class="w-25 w-25 h-auto">
                            @using (Html.BeginForm("DeleteFromFriends", "Friends", new { id = contact.ContactId }, FormMethod.Post))
                            {
                                <p>@contact.FriendUserName</p>
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Вы хотите удалить @contact.FriendUserName?')">Удалить</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4>Ваш список контактов пока пустой!</h4>
    }
</div>

