﻿@using Simple_Social_Media.Models;
@model Simple_Social_Media.Models.FriendSearchViewModel



<div class="container mt-2">
    @if (Model.SearchedUsers.Count() != 0)
    {
        <div class="row">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-around">
                    <p>Имя пользователя</p>
                    <p>Телефон</p>
                    <p>Почта</p>
                    <p>Добавить в друзья</p>
                </div>
            </div>
        </div>
        foreach (var user in Model.SearchedUsers)
        {
            <div class="row">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <p>@user.UserName</p>
                        <p>@user.PhoneNumber</p>
                        <p>@user.Email</p>
                        @using (Html.BeginForm("AddFriend", "Friends", new { id = user.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-success" type="submit" onclick="return confirm('Добавить в друзья @user.UserName?')">
                            Добавить в друзья
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
    <p>Пользователи с такими данными не найдены.</p>
    }
</div>
