﻿@model Simple_Social_Media.Models.ChatViewModel


<div class="selected-user">


    @using (Html.BeginForm("DeleteChat", "Chat", new { id = Model.ChatId }, FormMethod.Post))
    {
        <div class="person">
            <span>Пользователь: <span class="name">@Model.FriendName</span></span>
            <button class="btn user" type="submit">
                <img alt="Delete chat" class="user" src="~/Images/bin.png" style="width:38px;height:auto;" />
            </button>
        </div>
    }
</div>
    
<div class="chat-container">
    <ul class="chat-box chatContainerScroll">
        @if (Model.Messages.Count() != 0)
        {
            foreach (var mes in Model.Messages)
            {
                if (!mes.SenderId.Equals(Model.UserId))
                {
                    <li class="chat-left">
                        <div class="chat-avatar">
                            <img src="~/Images/user.png" alt=@Model.FriendName>
                            <div class="chat-name">@Model.FriendName</div>
                        </div>
                        <div class="chat-text">
                            @mes.Text
                        </div>
                        <div class="chat-hour">@mes.Time<span class="fa fa-check-circle"></span></div>
                    </li>
                }
                else
                {
                    <li class="chat-right">
                        <div class="chat-hour">@mes.Time <span class="fa fa-check-circle"></span></div>
                        <div class="chat-text">
                            @mes.Text
                        </div>
                        <div class="chat-avatar">
                            <img src="~/Images/user.png" alt="your picture">
                            <div class="chat-name">Вы</div>
                        </div>
                    </li>
                }
            }



        }
        else
        {
            <li><h2>Ваш чат пока пустой</h2></li>
            <li><h4>Начните переписку</h4></li>

        }
    </ul>
    <div class="form-group mt-3 mb-0">
        <textarea class="form-control" rows="3" placeholder="Введите ваше сообщение..."></textarea>
        <button class="btn btn-primary">Отправить</button>
    </div>
</div>

