﻿@model Simple_Social_Media.Models.UserChatsViewModel

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/Chats/chat.css")" rel="stylesheet" type="text/css" />
}




<div class="container">

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <ul class="users">
                                    @if (Model.Chats.Count() != 0)
                                    {
                                        foreach (var user in Model.Chats)
                                        {
                                            <li class="person">
                                                <div class="user">
                                                    <img src="~/Images/user.png" alt="user picture">
                                                </div>
                                                <p class="name-time">
                                                    <span class="name">@user.FriendName</span>
                                                    <span class="time">@user.MessageDateTime</span>
                                                    @if (user.LastMessage.Length >= 30)
                                                    {
                                                        <span>@user.LastMessage.Substring(0, 30)</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@user.LastMessage</span>
                                                    }
                                                </p>
                                                @Ajax.ActionLink(" Открыть", "ChatWithMessages", new { id = user.ChatId }, new AjaxOptions { UpdateTargetId = "Messages" })
                                            </li>
                                        }



                                    }
                                    else
                                    {
                                        <li><h2>@Html.ActionLink("Добавьте друзей", "GetFriends","Friends",null,null)</h2></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" id="Messages">
                            <p>Выберите чат</p>
                        </div>

                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")