﻿@model Simple_Social_Media.Models.UserProfileViewModel

@{
    if (User.IsInRole("Admin")) {
        Layout = "~/Views/Shared/_Admin.cshtml";
    }
    ViewBag.Title = "EditProfile";
}
@section Styles {
    <link href="@Url.Content("~/Content/Profile/profile.css")" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script src="@Url.Content("~/scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}


<div class="container" id="profile">
    @using (Ajax.BeginForm("EditProfile", "Home", null, FormMethod.Post))
    {
        <div class="col-md-4">
            <div class="avatar">
                <img src="~/Images/user.png" alt="user photo" class="avatar-bg mt-2" />
            </div>
        </div>
        <div class="col-md-8">
            <h1>Profile </h1>
            <hr />
            <div>
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { default_value = Model.UserName, @class = "form-control", type = "text", minlength = "3", required = "required" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(model => model.Birthday)
                @Html.TextBoxFor(model => model.Birthday, "{0:yyyy-MM-dd}",
                        new
                             {
                                 type = "date",
                                 @class = "form-control",
                                 required = "required",
                                 min = DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd"),
                                 max = DateTime.Now.AddYears(-10).ToString("yyyy-MM-dd")
                             })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(model => model.Phone)
                @Html.TextBoxFor(model => model.Phone, new { default_value = Model.Phone, @class = "form-control", type = "tel", minlength = "10", required = "required" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(model => model.Status)
                @Html.TextBoxFor(model => model.Status, new { value = Model.Birthday.ToString("yyyy-mm-dd"), @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
            <hr />
            <div>
                <input class="btn btn-primary mb-2" type="submit" value="Сохранить" />
            </div>
        </div>
    }
</div>

