﻿@model Simple_Social_Media.Models.UserProfileViewModel

<div class="verticalContainer" style="margin-top:5%;margin-bottom:5%;">
    <img alt="UserIcon" src="~/Images/user.png" style="width:100px;height:100px;">
    @using (Html.BeginForm("EditProfile", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { default_value = Model.UserName })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, new { default_value = Model.Phone });
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Birthday)
        @Html.EditorFor(model => model.Birthday, new { default_value = Model.Birthday });
        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Status)
        @Html.TextBoxFor(model => model.Status, new { default_value = Model.Status });
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

        <input class="btn" type="submit" value="Сохранить" />}
</div>