﻿@{
    ViewBag.Title = "Home Page";
}

<div class="people-div">
    <div class="d-flex justify-content-center align-items-center people-back">
        <div class="d-flex align-items-center order-12" style="height:200px;">
            <div class="container">
                <h1 class="text-center text-header">CIRCLE NETWORK</h1>
                <h3 class="text-center text-main">Быстрый. Удобный. Красивый</h3>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-clean">
        <div class="intro">
            <div class="card"></div>
            <h2 class="text-center">Отзывы пользователей </h2>
            <p class="text-center">Наши пользователи очень любят наш проект, поэтому очень приятно читать их комментарии!</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="~/Images/Home/comment_dorn.jpg" alt="User picture" />
                    <h5 class="name">Иван Дорн</h5>
                    <p class="title">CEO of Company Inc.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="~/Images/Home/comment_djozef.jpg" alt="User picture" />
                    <h5 class="name">Карл Джоззер</h5>
                    <p class="title">Founder of Style Co.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle" src="~/Images/Home/comment_clark.jpg" alt="User picture" />
                    <h5 class="name">Эмилия Кларк</h5>
                    <p class="title">Owner of Creative Ltd.</p>
                </div>
            </div>
        </div>
</div>
<br />
<br />
<br />