﻿@model Simple_Social_Media.Models.AdminViewModel
@using Simple_Social_Media.Models;
@{ 
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/Admin/admin.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Управление <b>Аккаунтами</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Email</th>
                        <th>Ban status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                    <tr>
                        <td>@user.Id</td>
                        <td><img src="~/Images/user.png" class="user-photo" alt="Avatar"></td>
                        <td>@user.UserName</td>
                        <td>@user.Birthday</td>
                        <td>@user.Email</td>
                        <td>@user.IsBanned</td>

                        <td>
                            @if (!user.IsBanned)
                            {
                                <a href="@Url.Action("BanUser","Admin",new { id = @user.Id })"><img class="button-ban" src="~/Images/Admin/ban.png" alt="ban icon"></a>
                            }
                            else
                            {
                                <a href="@Url.Action("UnBanUser","Admin",new { id = @user.Id })"><img class="button-ban" src="~/Images/Admin/redo.png" alt="unban icon"></a>
                              
                            }
                        </td>
                    </tr>
                    }
                    </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

