﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "EditProfile", "Home", routeValues: null, htmlAttributes: new { title = "Edit", @class="nav-link" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { @id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
